html {
	font-size: 100%;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

*::before {
	box-sizing: inherit;
}

*::after {
	box-sizing: inherit;
}

p, ul, ol, li, h1, h2, h3, h4, label, a {
	font-size: inherit;
	margin: 0;
	padding: 0;
}

a {
	color: currentColor;
}

button {
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	font-size: 87.5%;
	font-weight: 700;
	letter-spacing: 0.5px;
	font-family: inherit;
}

button.button {
	background: hsl(0, 0%, 97%);
	border: 1px solid hsl(0, 0%, 30%);
	color: hsl(0, 0%, 25%);
	border-radius: 2px;
	padding: 0.25em 0.5em;
	min-width: 3em;
	transition: all 100ms;
}

button.button:hover {
	background: hsl(0, 0%, 25%);
	color: hsl(0, 0%, 90%);
}

button.button:active {
	background: hsl(0, 0%, 35%);
	color: hsl(0, 0%, 90%);
}

button.icon-btn {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	color: inherit;
}

div, span, article, aside, footer, header, nav, section, table, thead, tbody, tfoot, tr, th, td {
	font-size: inherit;
	margin: 0;
	padding: 0;
}