html, body {
	--font-size: 100%;
	font-size: var(--font-size)!important;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

*::before {
	box-sizing: inherit;
}

*::after {
	box-sizing: inherit;
}

p, ul, ol, li, h1, h2, h3, h4, label, a {
	font-size: inherit;
	margin: 0;
	padding: 0;
}

a {
	color: currentColor;
}

.button, .icon-btn {
	-webkit-appearance: none;
	outline: none;
	background-color: transparent;
	
	color: inherit;
	cursor: pointer;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	
	box-shadow: none;
	white-space: nowrap;
	transition: .1s ease;
	transition-property: background, border-color, opacity;
}

.button {
	background-color: hsl(0, 0%, 95%);
	border: 1px solid #bbb;
	text-transform: unset;
	font-weight: normal;
	border-radius: 4px;
	font-size: 1rem;
	height: 2.25em;
	line-height: 1.5;
	padding: calc(.375em - 1px) calc(.625em - 1px);
}

.button:hover {
	background-color: hsl(0, 0%, 92%);
	border-color: hsl(0, 0%, 67%);
}

.button:active {
	background-color: hsl(0, 0%, 89%);
	border-color: hsl(0, 0%, 40%);
}

.icon-btn {
	margin: 0;
	padding: 0;
	border: none;

	border-radius: 50%;
	width: 24px;
	height: 24px;
}

div, span, article, aside, footer, header, nav, section, table, thead, tbody, tfoot, tr, th, td {
	font-size: inherit;
	margin: 0;
	padding: 0;
}