.input {
	border: 1px solid #bbb;
	background: white;
	color: inherit;
	border-radius: 4px;

	padding: calc(.375em - 1px) calc(.625em - 1px);
	position: relative;
	height: 2.25em;
	font-size: 1rem;
	line-height: 1.5;
}

.input:active, .input:focus {
	border-color: rgb(112, 174, 255);
	box-shadow: 0 0 0 0.125em rgba(112, 174, 255, 0.3);
}