input[type="text"].input {
	border: 1px solid #dbdbdb;
	border-radius: 4px;
    color: #363636;
	padding: 0.25rem 0.25rem;
	font-size: 1em;
	max-width: 100%;
	display: inline-block;
	line-height: 1.5;
	padding: .375rem .625rem;
	height: 2.25rem;
	outline: 0;
}

input[type="text"].input:active, input[type="text"].input:focus {
	border: 1px solid rgba(50, 115, 220, 0.5);
    box-shadow: 0 0 0 0.125em rgba(50,115,220,.8);
}